

<div class="bg-white pt-4 sm:pt-10 lg:pt-12">
  <footer class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="flex flex-col items-center border-t pt-6">
      <!-- nav - start -->
      <nav class="mb-4 flex flex-wrap justify-center gap-x-4 gap-y-2 md:justify-start md:gap-6">
        <a href="#" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">The RostLab</a>
        <a href="#" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Privacy Policy</a>
        <a href="#" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Terms & Services</a>
        <a href="#" class="text-gray-500 transition duration-100 hover:text-indigo-500 active:text-indigo-600">Impressum</a>
      </nav>
      <!-- nav - end -->

      <!-- social - start -->
      <div class="flex gap-4">

        <a href="#" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
          <i class="fa-brands fa-twitter fa-xl"></i>
        </a>


        <a href="#" target="_blank" class="text-gray-400 transition duration-100 hover:text-gray-500 active:text-gray-600">
          <i class="fa-brands fa-github fa-xl"></i>
        </a>
      </div>
      <!-- social - end -->
    </div>

    <div class="py-8 text-center text-sm text-gray-400">© 2023 - Present RostLab. All rights reserved.</div>
  </footer>
</div>

