<nav
  class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-white"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        class="flex-row text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
        href="/"
      >
        <span
          ><img
            class="w-8 h-8"
            src="/assets/img/logos/logo_l_small_sq.png"
            alt="RostLab"
        /></span>
      </a>
    </div>
    <div
      class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden"
      id="example-collapse-navbar"
    >
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center">
          <a
            class="lg:text-black lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="/program"
            ><i
              class="lg:text-gray-800 text-gray-600 far fa-file-alt text-lg leading-lg mr-2"
            ></i>
            Program</a
          >
        </li>
      </ul>
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <li class="flex items-center">
          <a
            class="lg:text-black lg:hover:text-gray-700 text-gray-200 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://twitter.com/rostlab"
            ><i
              class="lg:text-black text-gray-600 fab fa-twitter text-lg leading-lg"
            ></i
            ><span class="lg:hidden inline-block ml-2">Tweet</span></a
          >
        </li>
      </ul>
    </div>
    <div
      class="ml-2 w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-end"
    >
      <a
        class="flex-row text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
        href="/"
      >
        <span
          ><img
            class="h-8 w-auto"
            src="/assets/img/logos/tum.svg"
            alt="RostLab"
        /></span>
      </a>
    </div>
  </div>
</nav>
